@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-body text-white;
  }
}
.active {
  background-color: #171717;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #262626;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
